body{
  padding-top: 70px;
}
.thumb img{
    width: 20%;
}
.imgsize{
    size: 10px;
    width: 100%;
    padding: 10px;
}


  
  
 
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  