<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet/loginsignup/signstyle.css">
</head>
</head>
<body id="signup">

<!--Nav Bar when not logged in-->
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="index.html"><img src="./images/logo/logo.png" width="150" height="100" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
             </button>  
            
 <div class="collapse navbar-collapse borderXwidth" id="navbarSupportedContent">
    
    <ul class="navbar navbar-nav" >
       
            <a class="nav-item nav-link" href="index.html"  id="navbarSupportedContent" role="button"><strong>Home</strong> </a>
        
        
            <a class="nav-item nav-link" href="index.html#categories"  id="navbarSupportedContent" role="button"><strong>Categories</strong></a>
        
       
            <a class="nav-item nav-link" href="contactus.html"  id="navbarSupportedContent" role="button"><strong>Contact Us</strong></a>
        
        
            <a class="nav-item nav-link" href="aboutUs.html"  id="navbarSupportedContent" role="button"><strong>About Us</strong></a>
        
            <form class="header-search">
                    <input class="input" placeholder="  Search here">
                    <button class="search-btn">Search</button>
            </form>
           
        
    </ul>
    <!-- <div class="circleBehind blue" id="navbarSupportedContent"></div> </div> -->
    
    <ul class="navbar navbar-nav navbar-right">
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSupportedContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user-plus"></span><strong> SignUp</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSupportedContent">
                            <a class="dropdown-item" href="signup.html">User SignUp</a>
                         
                            <a class="dropdown-item" href="sellersignup.html">Seller SignUp</a>
                    </div>
            </li>

            <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarSupportedContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-sign-in"></span><strong> Login</strong>
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarSupportedContent">
                                    <a class="dropdown-item" href="login.html">User Login</a>
                                    <a class="dropdown-item" href="SellerLogin.html">Seller Login</a>
                            </div>
            </li>  
    </ul> 
    
</div>

</nav>
  
  <div id="thumbnail">
       
        <!-- <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
              <img src="./images/logo/logo.png" alt="IMG">
            </div> -->
        <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-3"></div>
              <div class="col-md-6 col-sm-6 col-xs-12"> 
              <div id="section"> 
               <img src="https://images-na.ssl-images-amazon.com/images/I/41BhKPIAyjL.png" id="icon"><span class="signup">HeLLo!!</span>
                </div>
                <form class="form-container" ng-controller="userSign">
               
                <div class="form-group col-xs-offset-4 col-md-10 col-xs-6">
                    <i class="fa fa-user" aria-hidden="true"></i>
                 <label for="exampleInputUsername required">User Name</label>
                 <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="User Name" placeholder="User Name" required ng-model="username" ng-model="uName">
                </div>
               <div class="form-group col-xs-offset-4 col-md-10 col-xs-6">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                 <label for="exampleInputEmail1 required">Email address</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required ng-model="email" ng-model>
                 <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <div class="form-group col-xs-offset-4 col-md-10 col-xs-6">
                  <i class="fa fa-key" aria-hidden="true"></i>
                 <label for="exampleInputPassword1">Password</label>
                 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Atleast 6 characters" required ng-model="password" ng-model="uPass">
               </div>
               <div class="form-group col-xs-offset-4 col-md-10 col-xs-6">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                    <label for="exampleInputUsername required">Phone No</label>
                    <input type="text" class="form-control" id="examplephoneno" aria-describedby="Phone No" placeholder="Phone No" required ng-model="Phone" ng-model="uPhone">
               </div>
               <div class="form-group col-xs-offset-4 col-md-10 col-xs-6">
                  <i class="fa fa-address-book" aria-hidden="true"></i>
                <label for="exampleInputUsername required">Address</label>
                <input type="text" class="form-control" id="exampleaddress" aria-describedby="Address" placeholder="Address" required ng-model="address" ng-model="uAddr">
               </div>
               <div class="form-group form-check col-xs-offset-4 col-md-12 col-xs-6">
                 <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="TandC">
                 <label class="form-check-label" for="exampleCheck1"> Terms and Condition</label>
               </div>
              
               <button type="button" class="btn btn-primary">Primary</button>
               <p>Already have an account? <a href="C:\Users\Ashitha\Desktop\internship\login.html">Login in</a></p>
             </form>
            </div>
          <div class="col-md-4 col-sm-4 col-xs-3"></div>
         </div>
        </div>
  </div>     
    
 <!--Footer-->

 <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="footer__widgets">
                    <div class="row justify-content-between">
                        <div class="col-12 col-lg-4 col-sm-6 footer__aboutus">
                            <div class="footer-aboutus">
                                <div class="footer-aboutus__title">
                                    <h4 class="footer-aboutus__header decor-header">About Us</h4>
                                </div>
                                <div class="footer-aboutus__text">
                                    Providing the best and pure Quality of Indian products
                                </div>
                                <ul class="footer-aboutus__contacts">
                                    <li class="footer-aboutus__contacts-item">
                                        <a href="contactus.html">NIIT Vijaynagar, Bengakuru</a>
                                    </li>
                                    <li class="footer-aboutus__contacts-item">
                                        <a href="contactus.html">info@indiakidukaan.co.in</a>
                                    </li>
                                    <li class="footer-aboutus__contacts-item">
                                        <a href="contactus.html">+91-1234567890</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 col-sm-6 col-md-3">
                            <div class="footer-links" data-collapse="" data-collapse-item="" data-collapse-opened-class="footer-links--opened">
                                <div class="footer-links__title">
                                    <h4 class="footer-links__header" data-collapse-trigger="">Information <svg class="footer-links__header-arrow" height="6px" width="9px">
                                    <use xlink:href="images/sprite.svg#arrow-down-9x6"></use></svg></h4>
                                </div>
                                <div class="footer-links__content" data-collapse-content="">
                                    <ul class="footer-aboutus__contacts">
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="about.html">About Us</a>
                                        </li>
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="">Delivery Information</a>
                                        </li>
                                        
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="contactus.html">Contact Us</a>
                                        </li>
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="">Returns</a>
                                        </li>
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="">Site Map</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 col-sm-6 col-md-3">
                            <div class="footer-links" data-collapse="" data-collapse-item="" data-collapse-opened-class="footer-links--opened">
                                <div class="footer-links__title">
                                    <h4 class="footer-links__header" data-collapse-trigger="">My Account <svg class="footer-links__header-arrow" height="6px" width="9px">
                                    <use xlink:href="images/sprite.svg#arrow-down-9x6"></use></svg></h4>
                                </div>
                                <div class="footer-links__content" data-collapse-content="">
                                    <ul class="footer-aboutus__contacts">
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="">My Account</a>
                                        </li>
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="">Order History</a>
                                        </li>
                                        <li class="footer-aboutus__contacts-item">
                                            <a class="footer-links__link" href="">Wish List</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 footer__followus">
                            <div class="footer-followus">
                                <div class="footer-followus__title">
                                    <h4 class="footer-followus__header">Follow Us</h4>
                                </div>
                                <div class="footer-followus__text">
                                    Follow us on social Media
                                </div>
                                <form class="footer-followus__subscribe-form">
                                    <input class="form-control form-control--footer" placeholder="Email address" type="email"> <button class="btn btn-primary" type="submit">Subscribe</button>
                                </form>
                                <ul class="footer-followus__social-links">
                                    <li class="footer-followus__social-link">
                                        <a href="#" target="_blank"><i class="fa fa-facebook-f"></i></a>
                                    </li>
                                    <li class="footer-followus__social-link">
                                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="footer-followus__social-link">
                                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                    </li>
                                    <li class="footer-followus__social-link">
                                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li class="footer-followus__social-link">
                                        <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-sm-auto">
                <div class="copyright">
                    <a href="">India-ki-Dukaan</a> by <a href="">NIIT</a>
                </div>
            </div>
            <div class="footer__payments col-auto"><img alt="payment image" src="images/indexpage/payments.png" srcset="images/indexpage/payments.png, images/indexpage/payments@2x.png 2x"></div>
        </div><br>
    </div>
    
</div>



</body>
</html>