div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  }
  
  div.gallery {
    width: 100%;
    height: auto;
    color:white;
    
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
    color:white;
    size: 50px;
  }
  body h1{
    font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 4px 4px #aaa;
    
  }
  body p{
    font-family: 'Berkshire Swash', cursive;

  }
  body p1{
font-family: 'Aclonica', sans-serif;

  }

 body h3{
  font-family: 'Permanent Marker', cursive;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 30px;
}  
  