
button{
    margin-bottom:2px;
    border-bottom: 10px;
}
#thumbnail
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
a:hover
{
   color:red;
}
.signup
{
    font-family: "Acme";
    margin:auto;
    color: black;
    text-align:center;
    padding-bottom: 40px;
}

body
 {
 	background-color: #d6e4eb;
 }
 .form-container
 {
 	border:0px solid white;
 	padding:30px 10px;
     margin: 2vh;
     margin-top: 5%;
     -webkit-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     -moz-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     font-weight: 20px;
     background:white;
 }
 .container
 {
    color:black;
 }
 #icon
 {
     size: 5px;
     width:70px;
     height: 70px;
     margin-top:-10px;
     margin-left: 20px;
     margin-bottom: 10px;
 }
 p{
     color: black;
 }