.jumbotron
{
    background: url("http://www.photoplato.com/photoplato/22464-background-desktop-wallpaper_57406.jpg");
    font-family: coiny;
    
}
.login
{
    font-family: coiny;
    margin:auto;
    color: aliceblue;
    text-align:center;
    padding-bottom: 40px;
}
.bg
{
    width:60px;
    height:60px;
    position: absolute;
    top:-35px;
    left:40px;
}

body
 {
 	background: url("http://www.cedarfielddesign.com/wp-content/uploads/2016/07/n7.jpg") no-repeat;
 	width:100%;
 	height: 100vh;
 }
 .form-container
 {
 	border:0px solid white;
 	padding:30px 10px;
     margin: 2vh;
     margin-top: 30%;
     -webkit-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     -moz-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     
 }
 .container
 {
    color:white;
 }