.login
{
    font-family: "Acme";
    margin:auto;
    color: aliceblue;
    text-align:center;
    padding-bottom: 40px;
    
}
#login
{
    background:#d6e4eb;
}
.login
{
    color: black;
}
.bg
{
    width:60px;
    height:60px;
    position: absolute;
    top:-35px;
    left:40px;
}

 .form-container
 {
 	border:0px solid white;
 	padding:30px 10px;
     margin: 2vh;
     margin-top: 10%;
     -webkit-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     -moz-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
     
 }
 
 
 .input-container
 {
    color:black;
 }
 #icon
 {
     size: 5px;
     width:70px;
     height: 70px;
     margin-top:-10pxpx;
     margin-left: 155px;
     text-align: absolute;
     margin-bottom: 20px;
 }
 h6
 {
    color: black;
 }
 .form-container{
     background: white;
 }