.jumbotron
{
    background: url("http://www.photoplato.com/photoplato/22464-background-desktop-wallpaper_57406.jpg");
    font-family: coiny;
    
}
abc
{
    margin-left:50%;
    border-left:50%; 
}