button{
    margin-bottom:2px;
    border-bottom: 10px;
}

.formStart
{
    border:0px solid white;
    padding:30px 10px;
    margin: 2vh;
    margin-top: 30%;
    -webkit-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
    box-shadow: 18px 18px 25px -1px rgba(0,0,0,0.75);
    font-weight: 20px;
    
}
body
 {
 	background: url("https://wallpaperplay.com/walls/full/b/8/8/117859.jpg") ;
 	width:100%;
 	height: 100vh;
 }
 .seller
{
    font-family: coiny;
    margin:auto;
    color: aliceblue;
    text-align:center;
    padding-bottom: 40px;
}